<mat-drawer-container autosize>
  <mat-drawer *ngIf="isOpen" opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="card" mat-button>
          <mat-icon>dashboard</mat-icon> Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button><mat-icon>home</mat-icon> Home</button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content style="height: 100%">
    <app-table class="h-full w-full"></app-table>
    <!-- <div style="text-align: center; min-height: 600px; max-height: min-content">
      <router-outlet><app-table></app-table></router-outlet>
    </div> -->
  </mat-drawer-content>
</mat-drawer-container>
